* {
  font-family: Poppins !important;
}

.top-border-blue {
  border-top: 2.5px solid #52a6d2;
}

.image {
  width: 20em;
}

.img-holder {
  padding: 2em;
  text-align: center;
}

.highlight-subs {
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 4em;
  padding-right: 4em;
  padding-bottom: 0em;
  padding-left: 4em;
}

.highlight-sub-description {
  padding-top: 0em;
  padding-right: 4em;
  padding-bottom: 0em;
  padding-left: 5em;
}